import Data.Nat
import Data.Fin
import Proofs

-- Starting to play around with proofs on inequalities of natural numbers
-- This is incomplete

data LTE  : (n, m : Nat) -> Type where
  LTEZero : {right : Nat} -> LTE Z right
  LTESucc : {left, right : Nat} -> LTE left right -> LTE (S left) (S right)

plusMinusLTE : (x, y : Nat) -> LTE y x -> Equal Nat (plus (minus x y) y) x
pat x, lte =>
  plusMinusLTE x Z lte
    = let h1 = eqInd2 {_} {_} {_} {minusZeroRight x}
                 {\h => Equal Nat (plus (minus x 0) 0) (plus h 0)}
                 (Refl {_} {_})
      in eqInd2 {_} {_} {_} {plusZeroRightNeutral x}
           {\h => Equal Nat (plus (minus x 0) 0) h} h1
pat y =>
  plusMinusLTE Z (S y) (LTEZero {_}) impossible
pat y =>
  plusMinusLTE Z (S y) (LTESucc {y} {_} _) impossible
pat x, y, lte : LTE y x =>
  plusMinusLTE (S x) (S y) (LTESucc {y} {x} lte)
    = let h0 = plusMinusLTE x y lte
          h1 = eqCong {_} {_} {S} {_} {_} h0
          h2 = eqInd2 {_} {_} {_} {plusSuccRightSucc (minus x y) y}
                 {\h => Equal Nat h (S x) }
                 h1
      in h2

maxLeftImpliesLTE : (x, y : Nat) -> LTE x (max x y)
maxLeftImpliesLTE Z Z = LTEZero {Z}
pat x =>
  maxLeftImpliesLTE (S x) Z = LTESucc {x} {x} (
                                eqInd2 {_} {_} {_} {maxZeroRightNeutral x}
                                  {\h => LTE x h}
                                  (maxLeftImpliesLTE x Z))
pat y =>
  maxLeftImpliesLTE Z y = LTEZero {y}
pat x, y =>
  maxLeftImpliesLTE (S x) (S y) = LTESucc {x} {max x y} (maxLeftImpliesLTE x y)

maxRightImpliesLTE : (x, y : Nat) -> LTE y (max x y)
maxRightImpliesLTE Z Z = LTEZero {Z}
pat y =>
  maxRightImpliesLTE Z (S y) = LTESucc {y} {y} (
                                eqInd2 {_} {_} {_} {maxZeroLeftNeutral y}
                                  {\h => LTE y h}
                                  (maxRightImpliesLTE Z y))
pat x =>
  maxRightImpliesLTE x Z = LTEZero {max x Z}
pat x, y =>
  maxRightImpliesLTE (S x) (S y) = LTESucc {y} {max x y} (maxRightImpliesLTE x y)

ltePlusRight : (n,m : Nat) -> LTE n (plus n m)
pat m =>
  ltePlusRight Z m = LTEZero {m}
pat n, m =>
  ltePlusRight (S n) m = LTESucc {n} {plus n m} (ltePlusRight n m)

lteRefl : (n : Nat) -> LTE n n
lteRefl Z = LTEZero {_}
pat n =>
  lteRefl (S n) = LTESucc {n} {n} (lteRefl n)

doubleLte : (x, y : Nat) -> LTE x y -> LTE (plus x x) (plus y y)
pat y, lte =>
  doubleLte Z y lte = LTEZero {_}
pat x, y =>
  doubleLte (S x) Z (LTEZero {_}) impossible
pat x, y, lte =>
  doubleLte (S x) Z (LTESucc {_} {_} lte) impossible
pat x, y, lte =>
  doubleLte (S x) (S y) (LTESucc {_} {_} lte)
    = let h1 = LTESucc {_} {_} (LTESucc {_} {_} (doubleLte x y lte))
          h2 = eqInd2 {_} {_} {_} {plusSuccRightSucc (S x) x}
                 {\h => LTE h (S (S (plus y y)))} h1
          h3 = eqInd2 {_} {_} {_} {plusSuccRightSucc (S y) y}
                 {\h => LTE (plus (S x) (S x)) h} h2
      in h3

lteWeaken : (x,y : Nat) -> LTE x y -> LTE x (S y)
pat y, lte =>
  lteWeaken Z y lte = LTEZero {_}
pat x, y, lte =>
  lteWeaken (S x) (S y) (LTESucc {x} {y} lte) = LTESucc {_} {_} (lteWeaken _ _ lte)

lteWeakenN : (x,y : Nat) -> LTE x y -> (n : Nat) -> LTE x (plus n y)
pat x, y, lte =>
  lteWeakenN x y lte Z = lte
pat x, y, lte, n =>
  lteWeakenN x y lte (S n) = lteWeaken x (plus n y) (lteWeakenN x y lte n)

finToLTE : (n : Nat) -> (i : Fin n) -> LTE (finToNat {n} i) n
pat n =>
  finToLTE (S n) (FZ n) = LTEZero {_}
pat n, fin =>
  finToLTE (S n) (FS n fin) = LTESucc {_} {_} (finToLTE n fin)