-- A signed adder example

import Data.Nat
import Data.ZZ
import Data.Signed

-- Top-level adder specialised for 5-bit inputs
signed_adder : {x,y : ZZ} ->
             < Signed 5 x -> Signed 5 y ->
               Signed 6 (plusZ x y)
             >
pat x, y =>
  signed_adder {x} {y} = [| \xs => \ys => ~(addS 5 {x} {y} [|xs|] [|ys|]) |]
