import Data.Nat
import Data.Unsigned

-- Top-level adder specialised for 5-bit inputs
adder : {x,y : Nat} ->
        < Unsigned 5 x -> Unsigned 5 y ->
          Unsigned 6 ((plus x y))
        >
pat x, y =>
  adder {x} {y}
    = [| \xs : Unsigned _ _ =>
         \ys : Unsigned _ _ =>
         ~(addU _ {_} {_} {_} [|xs|] [|ys|] [| O |])
      |]
