-- An example of mutual recursion.
--
-- We, by happy accident, allow mutual recursion between top-level functions.
-- Just ensure that the type definitions of both are given up front.

import Data.Bool
import Data.Nat

isEven : Nat -> Bool
isOdd : Nat -> Bool

isEven Z = True
pat n =>
  isEven (S n) = isOdd n

isOdd Z = False
pat n =>
  isOdd (S n) = isEven n