-- A signed adder example

import Data.Nat
import Data.ZZ
import Data.Signed

-- Top-level subtractor specialised for 5-bit inputs
signed_subtractor : {x,y : ZZ} ->
             < Signed 5 x -> Signed 5 y ->
               Signed 6 (subZ x y)
             >
pat x, y =>
  signed_subtractor {x} {y} = [| \xs => \ys => ~(subS 5 {x} {y} [|xs|] [|ys|]) |]
